<%- include("header") -%>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <!-- <div class="col-12 text-center">
        <h1 class="font-weight-light text-light">Về Chúng Tôi</h1>
        <p class="lead text-light"></p>
      </div> -->
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- about us -->

<div class="container">
  <div class="row py-5">

    <div class="col-md-6 d-block-sm pb-4">
      <h2>ABOUT US</h2>
      <p class="lead">ABOUT KIM LIEN APARTMENT “Peaceful space,
        sincere feelings" </p>
      <p>In Kim Lien Apartment, We invite you to start a trip to find a peaceful space that contains cultural features imbued with the Vietnamese spirit, where people are united and cordially send each other sincere feelings. Spread across all regions of the beautiful country of Vietnam and other countries in Southeast Asia,
        Kim Lien Apartment accompanies you everywhere, for every journey, at all stages of life.</p>
      <p>The steady and enthusiastic investment of Kim Lien Apartment Group will be an important stepping stone for Kim Lien Apartment to develop sustainably and strongly reach not only within the country but also reaching out. international School. A long way ahead, the Kim Lien people unanimously open up new development potentials,
        realizing the aspiration to become a national representative brand in the Vietnamese accommodation industry and marking the value of Vietnamese Apartments on the world map.</p>
    </div>

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/không gian.jpg" alt="Hotel outdoor at night">
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<!-- End of about us -->

<!-- History -->

<div class="container">
  <div class="row py-5">

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/history.jpg" alt="Hotel outdoor at night">
    </div>

    <div class="col-md-6 d-block-sm pb-4">
      <h2>HISTORY</h2>
      <p class="lead">NEW PRIVATE APARTMENT SYSTEM </p>
      <p>Lighting the map of Vietnam's accommodation industry, affirming its own firm position, Kim Lien Apartment Group has created a foothold in the hearts of domestic and foreign customers and tourists.
        As an emerging private apartment system in Vietnam, Kim Lien Arpartment is proud to own a number of apartments with a capacity of over 100 rooms, creating jobs and developing environments for more than 1000 employees.
        contribute tens of billions of dong to the national budget each year. These impressive achievements were formed and developed by Kim Lien Apartment through more than 5 years of experience,
        The collective consensus and the desire to ceaselessly improve and develop business in parallel bring about sustainable benefits to the country and people of Vietnam.</p>
     </div>



  </div> <!-- row -->
</div> <!-- container -->

<!-- End of History -->

<!-- about us -->

<div class="container">
  <div class="row py-5">

    <div class="col-md-6 d-block-sm pb-4">
      <h2>SUSTAINABLE DEVELOPMENT GOALS</h2>
      <p class="lead">Accompany with the locality to develop economic - sustainable tourism environment</p>
      <p>We believe that Sustainable Development will be the right direction for all business activities. Because of that, Kim Lien Apartment Apartment Group has always been consistent with the business philosophy associated with the mission of preserving and developing Vietnamese values, implementing and promoting activities to preserve and introduce children's beauty. Vietnamese people with the unique culture of the ethnic groups of Vietnam. At the same time, we strive to contribute to the development of the local economy through large-scale investment expansion in many developing economic regions, creating thousands of jobs,
        train human resources in the tourism service sector, along with many other activities for the community and other living environments.</p>
      <p>Kim Lien Apartment Group hopes to develop strongly and sustainably in the future,
        parallel with the development of society and the country.</p>
    </div>

    <div class="col-md-6 d-block-sm">
      <img class="w-100" src="images/mục tiêu.jpg" alt="Hotel outdoor at night">
    </div>

  </div> <!-- row -->
</div> <!-- container -->

<!-- End of about us -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-about').addClass('active');
</script>

<%- include("footer") -%>
