<%- include("header") -%>

<!-- Image Slider -->

<div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#featured" data-slide-to="0" class="active"></li>
    <li data-target="#featured" data-slide-to="1"></li>
    <li data-target="#featured" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <!-- Slide 1-->
    <div class="carousel-item active slide-1"></div>
    <!-- Slide 2 -->
    <div class="carousel-item slide-2"></div>
    <!-- Slide 3 -->
    <div class="carousel-item slide-3"></div>
  </div><!-- carousel-inner -->

  <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">
      <span class="sr-only">Previus</span>
    </span>
  </a>

  <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">
      <span class="sr-only">Next</span>
    </span>
  </a>

</div> <!-- carousel -->

<!-- About Us -->
<section id = 'section-about'>
    <div class="container">

      <div class="row py-5">

        <div class="col-md-6 text-justify d-block-sm pb-4">
          <h2>ABOUT US</h2>
          <p class="lead">Spread across all regions of the beautiful country of Vietnam and other countries in Southeast Asia,
            Kim Lien Apartment accompanies you everywhere, for every journey, at all stages of life.</p>
            <p>Standard Kim Lien Apartment includes 3-4 star apartments, located in the heart of cities and towns across the country.
              With reasonable price and standard service, the hotel belongs to Kim Lien Apartment group with close space,
            Cozy brings customers intimate and close experiences like their own "home away from home" ... <span>
                <a href="/about"> <u style="color: gray">See more</u></a></span></p>
        </div>
        <div class="col-md-6 d-block-sm">
          <img class="w-100" src="images/about-index.jpg" alt="Hotel lobby">
        </div>

      </div> <!-- row -->
    </div> <!-- container -->

</section>
<!-- End of About -->

<!-- Rooms -->
<section id = "section-room">
<div class="container">
  <div class="row">
    <h2 class="col-sm-12 text-center py-5" >KIND OF ROOM</h2>
    <div class="col-sm-4">
      <section class="card mb-5">
        <img class="card-img-top img-fluid" src="images/room-deluxe-index.jpg" alt="Hotel bedroom">
        <div class="card-body">
          <h3 class="card-title py-2">Deluxe Room</h3>
          <h4 class="card-subtitle">Luxaries condition</h4>
          <p class="card-text">Deluxe room has the smallest area of 37m2, is a high-class room with a full range of luxurious amenities
            ... <span>
              <a href="/rooms"> <u style="color: gray">See more</u></a></span></p>
        </div>
      </section>
    </div>

    <div class="col-sm-4">
      <section class="card mb-5">
        <img class="card-img-top img-fluid" src="images/room-excutive-index.png" alt="Hotel bedroom">
        <div class="card-body">
          <h3 class="card-title py-2">Excutive Suite</h3>
          <h4 class="card-subtitle">Luxaries Condition</h4>
          <p class="card-text">Executive Suite of Kim Lien Apartment has an area of 77m2, including 1 double bed, beautiful ... <span>
              <a href="/rooms"> <u style="color: gray">See more</u></a></span></p>
        </div>
      </section>
    </div>

    <div class="col-sm-4">
      <section class="card mb-5">
        <img class="card-img-top img-fluid" src="images/rooms-slide-4.jpg" alt="Hotel bedroom">
        <div class="card-body">
          <h3 class="card-title py-2">Presidential Suite</h3>
          <h4 class="card-subtitle">Luxaries Condition</h4>
          <p class="card-text">The Presidential Suite, also known as the President room, is the only room with a unique location inside
            ... <span>
              <a href="/rooms"> <u style="color: gray">See more</u></a></span></p>
        </div>
      </section>
    </div>

  </div> <!-- row -->
</div> <!-- container -->
</section>
<!-- End of Rooms -->

<!-- Services -->
<section id ='section-service'>
  <div class="container">
  <div class="row">

    <h2 class="col-sm-12 text-center py-5">SERVICE</h2>

    <div class="col-md-4">
      <section class="mb-5">
        <img class="img-fluid" src="images/events-index.jpg" alt="Hotel indoors">
        <h4 class="services-title py-2">Meetings & Events</h4>
        <p class="py-2">The system of meeting rooms stretching according to the location of apartments across the country is carefully designed with efficient functions, providing modern equipment and the largest capacity of the area ...<span>
            <a href="/services"> <u style="color: gray">See more</u></a></span></p>
      </section>
    </div>

    <div class="col-md-4">
      <section class="mb-5">
        <img class="img-fluid" src="images/restaurants-index.jpg" alt="Hotel restaurant">
        <h4 class="services-title py-2">Restaurants & Bars</h4>
        <p class="py-2">Explore the enchanting journey of the taste buds with the northwest culinary route, experience regional cuisine or the quintessence of European and Asian dishes.
          The unique culinary style of Kim Lien Apartment
          ... <span>
            <a href="/restaurant-bar"> <u style="color: gray">See more</u></a></span></p>
      </section>
    </div>

    <div class="col-md-4">
      <section class="mb-5">
        <img class="img-fluid" src="images/services-index.jpg" alt="Hotel bar">
        <h3 class="services-title py-2"> Other services</h3>
        <p class="py-2">Immerse yourself in the clear blue water of the swimming pool with a modern, stylish design
          On a high floor or space blending bold nature at the Kim Lien apartment system ... <span>
            <a href="/services-other"> <u style="color: gray">See more</u></a></span></p>
      </section>
    </div>

  </div><!-- row -->
</div> <!-- container -->
</section>

<!-- End of Services -->

<!-- Reviewer -->

  <section id="reviewer">
    <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="carousel-testimonial" data-slide-to="0" class="active"></li>
        <li data-target="carousel-testimonial" data-slide-to="1"></li>
        <li data-target="carousel-testimonial" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>The service here is very good, full service, suitable for couples who want to enjoy their honeymoon!</h2>
          <p>⭐⭐⭐⭐⭐</p>
          <img class="reviewer-image rounded-circle" src="images/bongo.png" alt="profile">
          <em>Jack</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Perfect hotel for refresh idea after a long work!</h2>
          <p>⭐⭐⭐⭐⭐</p>
          <img class="reviewer-image rounded-circle" src="images/bongo.png" alt="profile">
          <em>Beverly</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Thank you, but the hotel's website need improve more!</h2>
          <p>⭐⭐⭐⭐</p>
          <img class="reviewer-image rounded-circle" src="images/bongo.png" alt="profile">
          <em>Beverly</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-testimonial" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carousel-testimonial" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>


  </section>


<%- include("footer") -%>
