<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> SERVICE </h1>
        <p class="lead text-light" style="text-align: center;">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"  >
  <div class="row py-2" >
    <div class = "col d-block-sm pb-4" style="text-align: center;">
      <a style="color:rgb(112, 112, 104); text-decoration: none;" href="/services" style"">MEETING AND EVENTS</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(226, 19, 19);text-decoration: none;" href="/restaurant-bar">RESTAURANT & BAR</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(112, 112, 104);text-decoration: none;" href="/services-other">OTHER SERVICES</a>
    </div>
  </div>
  <div class="col-12"style="padding-left: 0px;padding-right: 0px;">
    <img class="w-100" src="images/restaurant-bar.jpg">
  </div>
  <div >
    <div  class="row border-inset" style="margin-left: 0px;margin-right: 0px;">
      <div class = "col d-block-sm pb-4">
        <div class="center">
          <br>
          <br>
          <br>
          <p id = "top-left">&nbsp;&nbsp;&nbsp;&nbsp;<b>RESTAURANTS & BAR   </b> <br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;
            
          <br>
          
        </div>
      </div>
      <div class = "col text-justify font-size">
        <p class="py" style="color:gray;"> EXPLORE A TRAVEL OR DELICIOUS JOURNEY WITH THE NORTHWEST FOOD SUPPLY, EXPERIENCE FOOD IN THE REGIONAL OR QUALITY OF ASIAN FOOD IN THE SPECIAL FACILITIES OF VIETNAM. WE BRING YOU TO FOLLOW THE SPECIAL CULTURE OF THE ETHNIC COMMUNITY WITH THE SPECIALS THAT THE WORLD'S PROVIDED BY THE NORTHWEST RIVER MOUNTAIN AS: TAY BACON RICE, PEARL MOUNTAIN , TUNA PILLOW, SWEET POTATO SWEETS, MEAT WINE, MEAT WINE THE NORTHERN HUNG VUNG FORESTRY COME TO THE TANKS FOR YOU. AND IF YOU HAVE THE OPPORTUNITY TO ENJOY THE ASIAN TASTE, EXCELLENCE WITH CREATIVITY, SERVE THE CONFIDENTIALITY OF MONG THANH EMPLOYEES WHEN YOU DO NOT SHOULD LIKE TO EXPECT SUCH ALL THINGS ARE READY TO SERVE YOU AT THE CORE BARS AND RESTAURANTS OF OUR HOTEL CHAIN ​​SYSTEMS!</p>
      </div>
      <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
        <br>
        <br>
        <br>
        <br>
        
      <div>
        <img class="w-100" src="images/hotel-restaurant.jpg">
      </div>
      <div class = "col">
      </div>

    </div>
    <div class="row border-outset" style="margin-left: 0px;margin-right: 0px;">
      <div class="col pb-4">
          <br><br><br>
        <p id = "top-left"> <b> SPECIALITIES </b></p>
      </div>
      <div class = "col text-justify font-size">
        <p class="py" style="color:gray;"> EXPLORE THE TASTE OF CENTRAL FOOD OF VIETNAM, FLAVOR FROM TRADITIONAL FOOD. ENJOY THE MESSAGES WITH SEAFOOD FOOD FROM DA NANG TOURISM LAND. TRADITIONAL MATERIALS LIKE FISH NOODLES, QUANG NOODLES FORM KIM LIEN APARTMENT.</p>
      </div>
      <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
        <br>
        <br>
        <br>
        <br>
        
        <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#featured" data-slide-to="0" class="active"></li>
              <li data-target="#featured" data-slide-to="1"></li>
              <li data-target="#featured" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner" style="height: 450px;">
              <div style="height: 10px;" class="carousel-item active rooms-slide-5">
              </div>

              <div class="carousel-item rooms-slide-6" style="height: 10px;">
              </div>

              <div class="carousel-item rooms-slide-7" style="height: 10px;">
              </div>

            </div> <!-- carousel-inner -->

            <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true">
                <span class="sr-only">Previus</span>
              </span>
            </a>

            <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true">
                <span class="sr-only">Next</span>
              </span>
            </a>

          </div> <!-- carousel -->
        <br><br><br><br><br>
      </div>

      
    </div>
  </div>

  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
