<%- include("header") -%>

<!-- Header -->

<header class="masthead rooms-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light">KIND OF ROOM</h1>
        <p class="lead text-light" style="text-align: center">We hope you’ll enjoy your stay</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Subtitle -->

<!-- <div class="container text-center pt-5">
  <h2>Presidential Offer</h2>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nobis quas aspernatur non ipsa
    explicabo, eum nisi temporibus sunt est itaque quod, repellendus tempore impedit doloribus repudiandae, eaque
    mollitia cupiditate.</p>
</div> -->

<!-- End of Subtitle -->

<!-- Luxury Suite -->

<div class="col-12">
  <div class="row pt-2">

    <div   style="background-color: #9c422d;" class="col-md-6 d-block-sm p-5 text-light" >
      <h2>Presidential Suite</h2>
      <p class="lead">The Presidential Suite, also known as the President room, is a room with a unique location in the building of Kim Lien apartment, up to 600 square meters wide, possessing a beautiful view with creative open space design.
        Sophisticated furniture is neatly decorated neatly, highlighting the elegance, nobility and splendor like the space of a prince.
        There are two bedrooms, 1 double bed, 2 single beds, and a living room with a desk.
        Next to that is a bar, kitchen, dining table with a modern, convenient sauna.</p>

      <p>The price of Presidential Suite room of Kim Lien apartment is the lowest from 27,900,000 VND / night.</p>

      <!--Icons -->
      <div class="icons">
        <i class="fas fa-wifi" style="color: rgb(216, 212, 0);"></i>
        <i class="fas fa-tv" style="color:  rgb(216, 212, 0);"></i>
        <i class="fas fa-swimmer" style="color:  rgb(216, 212, 0);"></i>
        <i class="fas fa-parking" style="color: rgb(216, 212, 0);"></i>
      </div>

      <div>
        <button type="button" class="btn btn-warning pb-2 my-4 text-uppercase" data-toggle="modal"
          data-target="#servicesmodal">Book
          Now</button>
      </div>

    </div> <!-- col-md-6 -->

    <!-- Image Slider -->

    <div class="col-md-6 d-block-sm p-0">

      <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#featured" data-slide-to="0" class="active"></li>
          <li data-target="#featured" data-slide-to="1"></li>
          <li data-target="#featured" data-slide-to="2"></li>
          <li data-target="#featured" data-slide-to="3"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active rooms-slide-1">
          </div>

          <div class="carousel-item rooms-slide-2">
          </div>

          <div class="carousel-item rooms-slide-3">
          </div>

          <div class="carousel-item rooms-slide-4">
          </div>
        </div> <!-- carousel-inner -->

        <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <span class="sr-only">Previus</span>
          </span>
        </a>

        <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <span class="sr-only">Next</span>
          </span>
        </a>

      </div> <!-- carousel -->

      <!-- End of Image Slider -->

    </div> <!-- col-md-6 -->

  </div> <!-- row -->
</div> <!-- col-12 -->

<!-- End of Luxury Suite -->

<!-- Signature Room -->


<!-- Classic Room -->
<div class="col-12 " style="padding-top: 2rem;">
  <div class="row">

    <!-- Image -->

    <div class="col-md-6" style="padding-left: 0px;">
      <img style="max-width:50vw; max-height:100vh" src="images/classic-double.jpg"  alt="Hotel room">
    </div>

    <!-- End of Image -->

    <div class="col-md-6 d-block-sm px-3" style="background-color: #89ABBF;">
      <br>
      <h2>Excutive Suite</h2>
      <p>Excutive Suite room of Kim Lien apartment has an area of 77m2, includes a double bed, is luxuriously designed with a separate living room and bedroom, separated by a wooden curtain attached to a flat-screen TV.
        Windows occupy a wall of the room, with glass doors spreading out both rooms creating an expansive view of Bai Truong beach with cool air filled with light.
        Facilities in the room in addition to basic items such as the Duluxe Room also have a coffee maker
        in the bathroom is also prepared more lotion and bathrobe.</p>

      <p>Executive Suite room price of Kim Lien apartment is lowest from 8,780,000 VND / night.</p>
      <!--Icons -->
      <div class="icons">
        <i class="fas fa-wifi" style="color: rgb(0, 0, 0);"></i>
        <i class="fas fa-tv" style="color: rgb(0, 0, 0);"></i>
        <i class="fas fa-swimmer" style="color: rgb(0, 0, 0);"></i>
        <i class="fas fa-parking" style="color: rgb(0, 0, 0);"></i>
      </div>

      <div>
        <button type="button" class="btn btn-secondary pb-2 my-4 text-uppercase" data-toggle="modal"
          data-target="#servicesmodal">Book
          Now</button>
      </div>

    </div> <!-- col-md-6 -->

  </div> <!-- row -->
</div> <!-- col-12 -->

<!-- End of Classic Room -->

<!-- Deluxe Room -->

<div class="col-12"style="padding-top: 2rem; padding-bottom:2rem" >
  <div class="row py-0">

    
    <div class="col-md-6 d-block-sm px-3" style="background-color: #8E94AE;">
      <br>
      <h2>Deluxe Room</h2>
      <p>Deluxe room has the smallest area of 37m2, is a high class room with full of luxurious amenities and is also the lowest standard room type in Kim Lien apartment.
        In the room has air conditioning, safe, IDD telephone, refrigerator, hairdryer, super-speed kettle, desk, water table, wardrobe, LCD Plasma TV, etc ... the rooms are decorated. with a vase of fresh flowers.
        Design in the room with circular tools to create a new look. Deluxe rooms with mountain or sea view are classified into three different categories:
        Deluxe King (1 double bed for 1 or two people), Deluxe Twins (2 single beds for two people) and Deluxe Triple (3 single beds for 3 people).
        Deluxe Triple room has an area of 40m2.</p>

      <p>Deluxe room price at Kim Lien apartment is the lowest from 4,920,000 VND / night.
        This is also the room that many tourists choose when staying at the hotel.</p>

      <!--Icons -->
      <div class="icons">
        <i class="fas fa-wifi" style="color: greenyellow;"></i>
        <i class="fas fa-tv" style="color:  greenyellow;"></i>
        <i class="fas fa-swimmer" style="color:  greenyellow;"></i>
        <i class="fas fa-parking" style="color:  greenyellow;;"></i>
      </div>

      <div>
        <button type="button" class="btn btn-success pb-2 my-4 text-uppercase" data-toggle="modal"
          data-target="#servicesmodal">Book
          Now</button>
      </div>

    </div> <!-- col-md-6 -->

    <!-- Image -->

    <div class="col-md-6 d-block-sm"style="padding-left: 0px;" >
      <img style="max-width:50vw; max-height:100vh;" src="images/deluxe-white-wooden.jpg" alt="Hotel room">
    </div>

    <!-- End of Image -->

  </div> <!-- row -->
</div> <!-- col-12 -->

<!-- End of Deluxe Room -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-rooms').addClass('active');
</script>

<%- include("footer") -%>
