<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> SERVICE </h1>
        <p class="lead text-light" style="text-align: center;">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"  >
  <div class="row py-2" >
      <div class = "col d-block-sm pb-4" style="text-align: center;">
        <a style="color:rgb(112, 112, 104); text-decoration: none;" href="/services" >MEETS AND EVENTS</a>
      </div>

      <div class = "col d-block-sm" style="text-align: center;">
        <a style="color:rgb(112, 112, 104);text-decoration: none;" href="/restaurant-bar">RESTAURANT & BAR</a>
      </div>

      <div class = "col d-block-sm" style="text-align: center;">
        <a style="color:rgb(226, 19, 19);text-decoration: none;" href="/services-other">OTHER SERVICES</a>
      </div>
  </div>

  <div class="col-12"style="padding-left: 0px;padding-right: 0px;">
    <p style="text-align: center;"> <span style="font-size: 50px; font-weight: 10px;">LEVERAGE EXPERIENCE</span>  </p>
  </div>
  
  <div class="row">
    <div class="col-6" style="padding-right: 0px;">
      <div class="effect-image-1" >
        <img src="/images/dv1.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%;padding-right: 5rem;">
            <div class="text"><p style="font-size: 0.8rem;"><span style="padding-left: 5rem;"> SPA & MASSAGE</span> <br><br> <span class="text-uppercase">
              Careful care from interior design, space to the grace and thoughtfulness of the staff to bring privacy, warmth but elegance,
                Spa & Massage of Kim Lien apartment system is always a favorite destination for domestic and foreign tourists. Touching the door of Spa & Massage,
                 tourists like to push back the noise, rush outside to enjoy the most relaxing and calm moments, both physically and mentally.</span></p>
            </div>
          </div>
      </div>
      <div class="effect-image-1" >
        <img src="/images/dv4.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;"><span style="padding-left: 7rem;"> SPORT</span> <br><br> <span class="text-uppercase">
              
              Package a relaxing life, full of fitness activities with attractive sports, Kim Lien introduces to visitors
                customers with specialized services for sports such as: Tennis, Badminton, Billiards ... With the advantage of spacious space, modern design,
                 Your passion for sports or your desire to immerse yourself in healthy exercise will be satisfied with the training grounds of the series.
                 Kim Lien apartment system
               Get in position and get ready to kick off your sports match with Kim Lien!                     
            </span></p>
            </div>
          </div>

      </div>
    </div>
    <div class="col-6" style="padding-left:0px">
      <div class="effect-image-1" >
        <img src="/images/dv2.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;" class="text-uppercase"><span style="padding-left: 5.5rem;"> SWIMMING POOL</span> <br><br>
            
              Immerse yourself in the clear blue water of the swimming pool with modern, stylish design on the upper floor or the space blending with nature.
                Of course, at the Kim Lien apartment chain, visitors seem to shake off all troubles. Enjoy relaxation by the pool with light snacks
                and stylish drinks from talented bartenders of Kim Lien will be a memorable experience for your every trip.
               Let's listen to the melody of the water and pamper your body gently at Kim Lien's swimming pool!
                                               </p>
            </div>
          </div>
      </div>
      <div class="effect-image-1" >
        <img src="/images/dv3.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;" class="text-uppercase"><span style="padding-left: 5.5rem;"> Fitness center</span> <br><br>
            
             
              As a way to maintain a healthy quality of life, Kim Lien Apartment's Fitness Center offers spacious gym space,
                Immersed in natural light with modern and comfortable equipment to help visitors train their toughness and strengthen their body through the minutes
                 seconds of sports.
               Enjoy a peaceful and full of life at every Kim Lien Fitness Center today!
                                              
                                               </p>
            </div>
          </div>
      </div>
      <div class="effect-image-1" >
        <img src="/images/dv5.jpg" alt="" style="width:100%">
          <div class="overlay-sim-text-2 overlay-xs-1" style="width:100%">
            <div class="text"><p style="font-size: 0.8rem;" class="text-uppercase"><span style="padding-left: 5.5rem;"> Karaoke</span> <br><br>
            
             
              
              Karaoke room is equipped with advanced sound and light system and spacious and modern space will bring moments of relaxation.
               refreshing entertainment for visitors. The excellent sound quality combined with the attentive service of Kim Lien staff is not only
                Helping you to regenerate energy but also an effective way of bonding with friends.
               Let's sing and live happily at Kim Lien!
                                              
                                              
                                               </p>
            </div>
          </div>
      </div>
      <br>
    </div>
    <br>
  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
