<%- include('header') -%>

<!-- Header -->

<header class="masthead services-masthead mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-light"> SERVICE </h1>
        <p class="lead text-light" style="text-align: center;">See our latest news</p>
      </div>
    </div>
  </div>
</header>

<!-- End of Header -->

<!-- Main -->

<div class = "col-9 center"  >
  <div class="row py-2" >
    <div class = "col d-block-sm pb-4" style="text-align: center;">
      <a style="color:rgb(226, 19, 19);" href="/services" style="text-decoration: none">MEETS AND EVENTS</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(112, 112, 104); text-decoration: none;" href="/restaurant-bar">RESTAURANT & BAR</a>
    </div>
    <div class = "col d-block-sm" style="text-align: center;">
      <a style="color:rgb(112, 112, 104); text-decoration: none;" href="/services-other">OTHER SERVICES</a>

    </div>
  </div>
  <div class="col-12"style="padding-left: 0px;padding-right: 0px;">
    <img class="w-100" src="images/events.jpg">
  </div>
  <div >
    <div  class="row border-inset" style="margin-left: 0px;margin-right: 0px;">
      <div class = "col d-block-sm pb-4">
        <div class="center">
          <br>
          <br>
          <br>
          <p id = "top-left">&nbsp;&nbsp;&nbsp;&nbsp;<b>IDEAL CHOICE <br> &nbsp;&nbsp;&nbsp;&nbsp;FOR <br> &nbsp;&nbsp;&nbsp;&nbsp;ULTIMATE CONFERENCES</b> <br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          <br>
        </div>
      </div>
      <div class = "col text-justify font-size">
        <p class="py" style="color:gray;"><br><br> THE APARTMENT POSITIONING LONG-TERM MEETING SYSTEM IN THE COUNTRY IS ENGINEERED WITH EFFECTIVE FUNCTIONS, PROVIDING MODERN EQUIPMENT WITH THE LARGEST PROPERTY IN THE REGION. THE EXCELLENT ADVANTAGES ARE INTEGRATED IN THE RESTAURANT AND ENTERTAINMENT SYSTEM OF KIM LIEN APARTMENTS TO THE IDEAL SPACE FOR CONFERENCE, CONFERENCE, EXHIBITION, EXHIBITION SYSTEM ABILITY TO SERVE THOUSANDS OF CUSTOMERS AT THE SAME TIME WITH THE HIGHEST QUALITY.</p>
      </div>
      <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
        <br>
        <br>
        <br>
        <div>
        <img class="w-100" src="images/event-index.jpg">
      </div>
      </div>
      

    </div>
    <div class="row border-outset" style="margin-left: 0px;margin-right: 0px;">
      <div class="col pb-4">
        <div class="center">
          <br>
          <br>
          <br>
          <p id = "top-left">&nbsp;&nbsp;&nbsp;&nbsp;<b>WEDDING CONFERENCE <br> &nbsp;&nbsp;&nbsp;&nbsp;IN <br> &nbsp;&nbsp;&nbsp;&nbsp;HAPPY SPACE</b> <br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          <br>
        </div>
      </div>
      <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
        <br>
        <br>
        <br>
        
        <img class="w-100" src="images/events-index.jpg">
      </div>
      <div class="col">
        <div class="center">
          <br>
          <br>
          <br>
          <br>
          <br>
          <p class="font-size text-justify" style="color:gray;">THE PROJECTS OF WEDDING THE DREAMS OF THE DOUBS WILL BE PERFECTLY IMPLEMENTED WITH KIM LIEN APARTMENTS IN THE MAJOR, SPIRITIAL SPACE, THE CENTER OF THE PROVINCE AT KIM LIEN APARTMENT,… OR THE SEAL THE SEA ON THE SEA, THE LONG CATFISH, THE WANDERLUST AT KIM LIEN LUXURY NHA TRANG, KIM LIEN MUEN, KIM LIEN LY SON ... DELICIOUS MEETS IN THE FRAME OF THE HOLIDAY CEREMONY ARE REMINDERED AS A KIM LIEN GIFT GIVING YOUR CUSTOMERS, BRING TO THE BEST WISHES FOR A NEW HAPPY LIFE.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <h3>Reservation information: </h3>
      <div class="row">
        <div class="col-sm-6">
          <div class="info-price">
            <p class="services-info">Standard conference: 100-200 guests</p>
            <p>Including lighting and sound system</p>
            <p class="services-price">Minimum price: 50,000,000VND</p>
          </div>
          <div class="info-price">
            <p class="services-info">Standard wedding reception: 100-200 guests</p>
            <p>Including lighting and sound system</p>
            <p>Minimum price for 1 table: 1,000,000VND</p>
            <p class="services-price">Minimum price: 75,000,000VND</p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="info-price">
            <p class="services-info">High-level conference: 500-1000 guests</p>
            <p>Including lighting and sound system</p>
            <p class="services-price">Minimum price: 100.000.000VND</p>
          </div>
          <div class="info-price">
            <p class="services-info">High-class wedding: 500-1000 guests</p>
            <p>Including lighting and sound system</p>
            <p>Minimum price for 1 table: 5.000.000VND</p>
            <p class="services-price">Minimum price: 175.000.000VND</p>
          </div>
        </div>
      </div>
      <p style="color: red; font-size: 10px;">* The above prices do not include 10% VAT and 10% service charge</p>
    </div>
  </div>

  </div>
</div>

<!-- End of Main -->

<script type="text/javascript">
  $('#nav-home').removeClass('active');
  $('#nav-services').addClass('active');
</script>


<%- include('footer') -%>
